html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* El contenido principal se expande para ocupar el espacio restante */
main {
    flex: 1;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#signinForm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545454;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav {
    position: relative;
    max-width: 100%;
    /* Evitar que se expanda más allá del ancho de la página */
}

nav button {
    margin-right: 10px;
}

/* Estilo para el contenedor del menú */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* Estilo del menú desplegable oculto */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    /* Alinea el menú a la derecha del contenedor */
    max-width: 100%;
    /* Evitar que el menú se salga del ancho de la pantalla */
    overflow-wrap: break-word;
    /* Forzar el salto de línea si el contenido es muy largo */
    overflow: hidden;
}

/* Estilo para los elementos del menú */
.dropdown-content li a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

/* Estilo para mostrar el menú */
.dropdown-content.show {
    display: block;
}

.dropdown-content li a:hover {
    background-color: #bd71e6;
}

/* Estilo para el botón cuando el menú está desplegado */
.dropbtn.active {
    background-color: #111;
}

.filter-container {
    padding: 10px 50px;
}

.filter-container select {
    color: #111;
}

.admin-container {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.createProduct-container,
.createUser-container,
.createStore-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.uploadProduct,
.uploadUser,
.uploadStore,
.uploadSupplier,
.uploadCategory {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.product,
.user {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h3#product_name,
#first_name,
#last_name {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

h4#product_price,
#email {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 10px;
}

h4#stock,
#role {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}


/************************************ TABLE USERS/STORES *********************************************/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; 
}

thead th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    width: 100%;
}

tbody td {
    padding: 5px;
    border: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #eaeaea;
}

.update_user,
.update_store,
.update_category {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.update_store,
.update_user {
    padding: 10px 20px;
}
.delete_user,
.delete_store,
.delete_supplier,
.delete_category,
.view-on-map,
#more_info {
    width: 100%;
}

.update_user,
.update_store,
.update_supplier,
.update_category {
    background-color: #410a89;
}

.update_user:hover,
.update_store:hover,
.update_supplier:hover,
.update_category:hover  {
    background-color: #8a7e9a;
}

.delete_user,
.delete_store,
#delete_product,
.delete_supplier,
.delete_category {
    background-color: rgb(180, 50, 78);
}

.delete_user:hover,
.delete_store:hover,
#delete_product:hover,
.delete_supplier:hover,
.delete_category:hover {
    background-color: rgb(167, 110, 110);
}

.popup {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    position: fixed;
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta el punto de origen del centrado */
    background: #fff;
    border: 1px solid #ef55da;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegúrate de que el popup esté encima de otros elementos */
}

.popup-content {
    background-color: white;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#user_information, 
#store-ubication {
    font-weight: 700;
}

#map {
    height: 300px;
    width: 100%;
  }

#popup-close {
    cursor: pointer;
    float: right;
}

/***************************************** HIDDEN FIELDS *********************************************/
.hidden {
    display: none;
}

@media (max-width: 768px) {

    /* Para pantallas más pequeñas, ajusta a 2 productos por fila */
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    /* Para pantallas muy pequeñas, ajusta a 1 producto por fila */
    .product-container {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #545454;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}