doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="../index.pug")
                    img(src="/static/gato-negro.png", alt="Cat-shop logo")
                h1.titulo Cat-shop
            nav
                button#logout Logout
        main
            div.admin-container
                a(type="button", class= "button", href= "./products") Products
                a(type="button", class= "button", href= "./users") Users
                a(type="button", class= "button", href= "./stores") Stores
                a(type="button", class= "button", href= "./suppliers") Suppliers
                a(type="button", class= "button", href= "./categories") Categories 
        include ./footer.pug
        script(src= "/static/admin.script.js", type= "module")
    