doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="#")
                    img(src="/static/gato-negro.png", alt="Cat-shop logo")
                h1.titulo Cat-shop
            nav
                a(href="/api/sessions/login" class="button") Sign in
        main 
            div.index
                h2 Welcome to Cat-shop!
                p To test the application, click the sign-in button and use the following credentials to log in as a super administrator: 
                h5 email: superadmin@example.com
                h5 password: 1234
        include ./footer.pug