doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="../index.pug")
                    img(src="/static/gato-negro.png", alt="Cat-shop logo")
                h1.titulo Cat-shop
    a(type="button", class= "button", href= "../index.pug") Products
    a(type="button", class= "button", href= "../index.pug") Suppliers
    a(type="button", class= "button", href= "../index.pug") Categories 
    include ./footer.pug
    