doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="../index.pug")
                    img(src="/static/gato-negro.png", alt="Inventory-API logo")
                h1.titulo Inventory-API
            nav
                button#logout Logout
        main 
            div.manager-container
                a(type="button", class= "button", href= "../admins/products") Products
                a(type="button", class= "button", href= "../admins/suppliers") Suppliers
                a(type="button", class= "button", href= "../admins/categories") Categories 
    include ./footer.pug
    script(src= "/static/admin.script.js", type= "module")
    