doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="../index.pug")
                    img(src="/static/gato-negro.png", alt="Inventory-API logo")
                h1.titulo Inventory-API
            nav
                if role === "admin" || role === "superadmin" || role === "manager"
                    button.dropbtn Menu
                        ul.dropdown-content
                            if role === "admin" || role === "superadmin"
                                li
                                    a(href="/api/admins/dashboard") Home
                                li
                                    a(href="/api/admins/users") Users
                                li
                                    a(href="/api/admins/stores") Stores
                            if role === "manager"
                                li
                                    a(href="/api/managers/dashboard") Home
                            li
                                a(href="/api/admins/suppliers") Suppliers
                            li
                                a(href="/api/admins/categories") Categories
                button#logout Logout
        main
            div.createProduct-container
                form#createProductForm(action="/api/products", method ="post") 
                    label(for="nameField") Name
                    input#nameField(type="text", required, name="name")
                    label(for="descriptionField") Description
                    input#descriptionField(type="text", name="description")
                    label(for="unitPriceField") Unit price
                    input#unitPriceField(type="number", required, name="unit_price")
                    label(for="stockField") Units in stock
                    input#stockField(type="number", name="units_in_stock")
                    label(for="categoryField") Select category
                    select#categoryField(required, name="category")
                        each category in categories 
                            option(value= category.id)= category.name
                    label(for="supplierField") Select supplier
                    select#supplierField(required, name="supplier")
                        each supplier in suppliers 
                            option(value= supplier.id)= supplier.name
                    button(type="submit", class= "button") Add product
        script(src= "/static/product.script.js", type= "module")
        script(src="/static/admin.script.js", type="module")
        include ./footer.pug
    