doctype html
html(lang="en")
    include ./head.pug
    body 
        header
            div.logo
                a(href="..")
                    img(src="/static/gato-negro.png", alt="Inventory API logo")
                h1.titulo Cat-shop
        form#signinForm(action="/api/sessions/signin", method ="post") 
            label(for="emailField") Email
            input#emailField(type="email", required)
            label(for="passwordField") Password
            input#passwordField(type="password", required)
            button(type="submit", class= "button") Sign in
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js")
        script(src= "/static/signin.script.js", type= "module")
    include ./footer.pug
    